NeuralNetworkEngine.VC.db
NeuralNetworkEngine.sln
NeuralNetworkEngine/Debug/
NeuralNetworkEngine/x64/
x64/
x64/Debug/NeuralNetworkEngine.exe
*.ilk
x64/Debug/NeuralNetworkEngine.pdb
*.obj
NeuralNetworkEngine/x64/Debug/Convolutional.obj
*.obj
NeuralNetworkEngine/x64/Debug/Layer.obj
NeuralNetworkEngine/x64/Debug/Layer.obj
*.tlog
*.lastbuildstate
*.log
*.pch
*.enc
/.vs/NeuralNetworkEngine/v14/.suo
*.obj
NeuralNetworkEngine/x64/Debug/Convolutional.obj
