NeuralNetworkEngine.VC.db
NeuralNetworkEngine.sln
x64/Debug/NeuralNetworkEngine.exe
*.ilk
x64/Debug/NeuralNetworkEngine.pdb
*.obj
NeuralNetworkEngine/x64/Debug/Convolutional.obj
*.obj
NeuralNetworkEngine/x64/Debug/Layer.obj
NeuralNetworkEngine/x64/Debug/Layer.obj
*.tlog
*.lastbuildstate
*.log
*.pch
*.enc